<nav>
  <ul>
    <li><a routerLink="" routerLinkActive="active">Home</a></li>
    <li><a routerLink="/interpolation" routerLinkActive="active">Interpolation</a></li>
    <li><a routerLink="/property_bindings" routerLinkActive="active">Property Binding</a></li>
    <li><a routerLink="/event_binding" routerLinkActive="active">Event Binding</a></li>
    <li><a routerLink="/attr_binding" routerLinkActive="active">Attribute Binding</a></li>
    <li><a routerLink="/class_binding" routerLinkActive="active">Class Binding</a></li>
    <li><a routerLink="/style_binding" routerLinkActive="active">Style Binding</a></li>
  </ul>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
